<div class="jp-video" id="jp_container_1">
    <div class="jp-type-playlist">
        <div class="jp-jplayer" id="jquery_jplayer_1" style="height: 270px;">
        </div>
        <div class="jp-gui">
            <div class="jp-interface">
                <div class="posterArt">
                    <img />
                </div>
                <div class="jp-progress">
                    <div class="jp-seek-bar" style="width: 100%;">
                        <div class="jp-play-bar" style="width: 0%;">
                        </div>
                    </div>
                </div>
                <div class="jp-current-time">00:00</div>
                <div class="jp-duration"></div>
                <div class="jp-title" style="display: none;">
                    <ul>
                    </ul>
                </div>
                <div class="jp-controls-holder">
                    <ul class="jp-controls">
                        <li><a tabindex="1" class="jp-previous" href="javascript:;">previous</a></li>
                        <li><a tabindex="1" class="jp-play" href="javascript:;">play</a></li>
                        <li><a tabindex="1" class="jp-pause" href="javascript:;" style="display: none;">pause</a></li>
                        <li><a tabindex="1" class="jp-next" href="javascript:;">next</a></li>
                        <li><a tabindex="1" class="jp-stop" href="javascript:;">stop</a></li>
                        <li><a title="mute" tabindex="1" class="jp-mute" href="javascript:;">mute</a></li>
                        <li><a title="unmute" tabindex="1" class="jp-unmute" href="javascript:;" style="display: none;">
                            unmute</a></li>
                        <li><a title="max volume" tabindex="1" class="jp-volume-max" href="javascript:;">max
                            volume</a></li>
                    </ul>
                    <div class="jp-volume-bar">
                        <div class="jp-volume-bar-value" style="width: 80%;">
                        </div>
                    </div>
                    <ul class="jp-toggles">
                        <li><a title="shuffle" tabindex="1" class="jp-shuffle" href="javascript:;">shuffle</a></li>
                        <li><a title="shuffle off" tabindex="1" class="jp-shuffle-off" href="javascript:;"
                            style="display: none;">shuffle off</a></li>
                        <li><a title="repeat" tabindex="1" class="jp-repeat" href="javascript:;">repeat</a></li>
                        <li><a title="repeat off" tabindex="1" class="jp-repeat-off" href="javascript:;"
                            style="display: none;">repeat off</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="jp-playlist">
            <ul style="display: block;">
                <li>
                </li>
            </ul>
        </div>
        <div class="jp-no-solution" style="display: none;">
            <span>Update Required</span> To play the media you will need to either update your
            browser to a recent version or update your <a target="_blank" href="http://get.adobe.com/flashplayer/">
                Flash plugin</a>.
        </div>
    </div>
</div>
